.square{
    text-align: center;
}
.background{
    background-color: black;
    color: green;
}

.square{
    text-align: center;
}

.statement{
    margin-top: 100;
    color: green;
    text-align: center;
}

.box{
    border-color: green;
    border-width: 5%;
    text-align: center;
    font-size: 100%;
}
.connect{
    color: green;
    background-color: black;
    border-color: green;
    text-align: center;
}

.first{
    color: green;
    background-color: black;
    border-color: green;
    text-align: center;
}

.second{
    color: green;
    background-color: black;
    border-color: green;
    text-align: center;
}

.third{
    color: green;
    background-color: black;
    border-color: green;
    text-align: center;
}

.fourth{
    color: green;
    background-color: black;
    border-color: green;
    text-align: center;
}