.background{
    background-color: black;
    color: green;
}

.statement{
    color: green;
    text-align: center;
}

.link{
    color: black;
    background-color: black;
    
}
.place{
    text-align: right;
    padding-top: 100em;
    right: 250%;
}

a:hover{
    background-color: green;
    border-color: green;
    color: black;
}