.background{
    background-color: black;
    color: green;
}

.statement{
    color: green;
    text-align: center;
}

.connect{
    color: black;
    background-color: black;
}

a:hover{
    background-color: green;
    border-color: green;
    color: black;
}