

.Pagetitle {
    color: green;
    text-align: center;

}

.card-title{
    font-size: large;
    font-style: initial;

}

.card{
    border-color: green;
    color: green;
    background-color: black;
}