

.Pagetitle {
    color: green;
    text-align: center;

}

.card-title{
    font-size: large;
    font-style: initial;
    text-align: center;
}

.card{
    border-color: green;
    color: green;
    background-color: black;
    text-align: center;
}

.head{
    margin-left: 50;
}
